
.navbar {
  background-color: #c1dbf4;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
  margin: 0;
}

.navbar-brand:hover {
  color: #0056b3;
}

.navbar-header {
  flex-grow: 1;
  text-align: center;
}

.navbar-actions {
  display: flex;
  gap: 10px;
}

.btn-add-note {
  background-color: #28a745;
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-add-note:hover {
  background-color: #1e7e34;
}

.btn-logout {
  background-color: #dc3545;
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-logout:hover {
  background-color: #c82333;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .navbar-actions {
    margin-top: 10px;
  }
}